<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>RegisterFilter</filter-name>
        <filter-class>RegisterFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RegisterFilter</filter-name>
        <servlet-name>RegisterServlet</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategory</servlet-name>
        <servlet-class>AddCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addOrder</servlet-name>
        <servlet-class>addOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategory</servlet-name>
        <url-pattern>/AddCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addOrder</servlet-name>
        <url-pattern>/addOrder</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>Connection</param-name>
        <param-value>jdbc:mysql://localhost:3306/trail</param-value>
    </context-param>
    <context-param>
        <param-name>uname</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value/>
    </context-param>
    <context-param>
        <param-name>Driver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>
            index.html
        </welcome-file>
    </welcome-file-list>
</web-app>
